In [14]:
# print is use for answer

In [5]:
a=10
b=20
a
b

20

In [7]:
a=10
b=20
print(a)
print(b)

10
20

In [9]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [11]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [16]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [18]:
name='sweety'
age=20
city='Banglore'
print('My name is',name,'and i am',age,'years old from',city)

My name is sweety and i am 20 years old from Banglore

## print Format method

In [21]:
num1=20
num2=30
add=num1+num2
print('The addition of{} and {} is={}'.format(num1,num2,add))

The additionof20 and 30 is=50

 - first decide how the print statement should be
 - like-The addition of 20 and 30 is =50
 - then replace the variable position with curly brackets{}
 - then apply.format(val1,val2,....val-n methodm

In [25]:
name='honey'
age=20
city='bglr'
# hello my name is honey and i am 20 year old from bglr

In [29]:
print('hello my name is {},and i am {} years old from {}'.format(name,age,city))

hello my name is honey,and i am 20 years old from bglr

In [39]:
num1=100
num2=200
num3=400
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2))
avg1=round((num1+num2+num3)/3,2)
print('The average of {}, {} and {} is = {} or {}'.format(num1,num2,num3,avg,avg1)) # here we  can use round(avg,2) also

The average of 100, 200 and 400 is = 233.33333333333334 or 233.33

In [41]:
round(avg,2)

233.33

### More short format method(f string method)

 - Variable should be in curly braces
 - and write everything inside quots''
 - at starting simply add f

In [49]:
num1=20
num2=40
add=num1+num2
print(f'The addition of {num1} and {num2} is ={add}') # always prefer this

The addition of 20 and 40 is =60

In [53]:
name='sweety'
age=21
city='hyd'
# 
print(f'My name is {name} and i am {age} years old from {city}')

My name is sweety and i am 21 years old from hyd

In [63]:
num1=20
num2=40
num3=50
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2)
# The average of num1 ,num2,num3 is =avg

In [65]:
print(f'The average of {num1}, {num2} and {num3} is = {avg}')

The average of 20, 40 and 50 is = 36.67

In [74]:
# Lete combine all
num1=10
num2=20
add=num1+num2
print('The additon of',num1, 'and',num2, 'is=',add)

print('The addition of {} and {} is = {}'.format(num1,num2,add))

print(f'The addition of {num1} and {num2} is = {add}')

The additon of 10 and 20 is= 30
The addition of 10 and 20 is = 30
The addition of 10 and 20 is = 30

## end statement

In [76]:
print('hello') # 1st statement
print('good morning') # 2nd statement
# i want  to print like:- hello good morning

hello
good morning

- Here we will use 'end' statement that joint line from end of string to starting of other string

In [79]:
print('hello',end=' ') # 1st statement
print('world good day') # 2nd statement

hello world good day

## separator

- here one print statement only we use
- inside one print statement we have multiple values
- we want to seperate these multiple values with anything

In [85]:
print('hai','hello','how are you',sep='--->')

hai--->hello--->how are you

In [87]:
print('hai','hello','how are you',sep='&')

hai&hello&how are you

In [89]:
print('hai','hello','how are you',sep='@')

hai@hello@how are you

In [91]:
print('hai','hello','how are you',sep=' ')

hai hello how are you

In [93]:
print(3,'.') # .is far from 3 so here we will use sep method

3 .

In [95]:
print(3,'.',sep='') # see now space settled(also use to remove space B/W words)

3.

In [97]:
print(1,2,end=' ')
print(3,'.',sep='')
# will print 1 2 3.

1 2 3.