# LOOPS

In [34]:
i=1
while i<=5:
    print('data science')
    i=i+1

data science
data science
data science
data science
data science

In [35]:
i=5           # initializing
while i>=1:    # condition
    print('data science')
    i=i-1      # decrement

data science
data science
data science
data science
data science

In [36]:
i=1        # initializing
while i>=5:   # condition
    print('data science:', i)
    i=i+1    # increment

In [37]:
i=5           # initializing
while i>=1:    # condition
    print('data science:',i)
    i=i-1  # decrement

data science: 5
data science: 4
data science: 3
data science: 2
data science: 1

In [38]:
i=1
while i<=5:
    print('data science') # when we mention end then new line will not create 
    j=1
    while j<=4:
        print('technology')
        j=j+1
    i=i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [39]:
i=1
while i<=5:
    print('data science',end="") # when we mention end then new line will not create 
    j=1
    while j<=4:
        print('technology',end="")
        j=j+1
    i=i+1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [40]:
# lets use while loop using some numbers
i=1
while i<=2:
    j=0
    while j<=2:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [41]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j, end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [42]:
name='nit'
for i in name:
    print(i)

n
i
t

In [43]:
name1=[1,3.5,'hello'] # i want print the value individually

for i in name1:
    print(i)

1
3.5
hello

In [44]:
range(5)

range(0, 5)

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
# print 5 multiplication table

for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [47]:
for i in range(1,11):
    if i==7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

In [48]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [ ]:
for i in range(1,11):
    pass

In [52]:
# Skip numbers divisible by 3 or 5
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [56]:
# Skip numbers divisible by both 3 and 5 (i.e 15,30)
for i in range(1,51):
    if i%3==0 and i%5==0:
        continue
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
end

In [60]:
# print only odd numbers
for i in range(1,51):
    if i%2==0:
        continue
    else:
        print(i)
print('end')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
end